<section class="vh-100" style="background-color: #3da2c3;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <p class="card-header"><span class="h2 me-2"><%= @task.name %></span></p>
          <div class="card-body p-4">
            <h5><%= @task.details %></h5>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-secondary mt-2"><%= link_to "Edit task", edit_task_path(@task) %></button>
            <button type="button" class="btn btn-danger mt-2"><%= link_to 'Delete task',
task_path(@task),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %></button>
            <button type="button" class="btn btn-secondary mt-2"><%= link_to "Back to task list", tasks_path %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
